<!DOCTYPE html>
<html>
    <head>
		<title>Vinicio Chavarría</title>
		<meta charset= "UTF-8">
		<meta name="author" content="Vinicio Chavarría">
		<meta name="description" content="Portafolio de trabajo">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="html, desarrolloWeb, wed, diseño, css, javascript, python, sql, seo, color">
		<meta name="robots"  content="noindex, nofollow">
		<link rel="shortcut icon" href="/ruta.png" type="imagen/x-icon">
		<!-- FUENTES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
        <!-- NORMALIZE -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
		<!-- CSS MAIN -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <!-- Header -->
       <header>
           <div class="contenedor">
                <nav class="menu">
                    <li><a href="#acerca-de">Acerca de</a></li>
                    <li><a href="#trabajos">Trabajos</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </nav>
                <div class="contenedor-texto">
                    <div class="texto">
                        <h1 class="nombre">Vinicio Chavarría</h1>
                        <h2 class="profesion">Desarrollador Web</h2>
                    </div>
                </div>
           </div>
       </header>
       <!-- Seccion Principal -->
       <section class="main">
           <section class="acerca-de" id="acerca-de">
               <div class="contenedor">
                    <div class="foto">
                        <img src="../static/assets/vini.jpg" alt="Vinicio Chavarria" width="115">
                    </div>
                    <div class="texto">
                        <h3 class="titulo">Acerca de</h3>
                        <p>Mi nombre es <span class="bold">Vinicio Chavarria</span>, tengo 24 años y resido en Costa Rica. Me apasiona el desarrollo web, empece en el mundo de la programación a inicios de la pandemia y desde entonces me he preparado para convertirme en Desarrollador Web. Actualmente continuo mis estudios y sería un privilegio crear ese proyecto web que tienes en mente.<span class="jump">Trabajo las <a href="#herramientas"><span class="bold">herramientas</span></a> más actuales de la industria y estoy en constante preparación.<br>Echale un vistazo por ti mismo a algunos de mis últimos proyectos deslizando más abajo.</span></p>
                    </div>
               </div>
           </section>
           <section class="trabajos" id="trabajos">
               <div class="contenedor">
                   <h3 class="titulo">Trabajos</h3>
                   <div class="contenedor-trabajos">
                       <div class="trabajo">
                            <div class="thumb">
                                <a href="#" target="__blanck"><img src="../static/assets/trabajos/1.jpg" alt="Clon Google"></a>
                                <div class="descripcion">
                                    <p>Clon Google</p>
                                    <p class="categoria">HTML - CSS - Js</p>
                                </div>
                            </div>
                        </div>
                       <div class="trabajo">
                            <div class="thumb">
                                <a href="#" target="__blanck"><img src="../static/assets/trabajos/6.jpg" alt="Clon Google"></a>
                                <div class="descripcion">
                                    <p>Clon Google</p>
                                    <p class="categoria">HTML - CSS - Js</p>
                                </div>
                            </div>
                        </div>
                       <div class="trabajo">
                            <div class="thumb">
                                <a href="#" target="__blanck"><img src="../static/assets/trabajos/2.jpg" alt="Clon Google"></a>
                                <div class="descripcion">
                                    <p>Clon Google</p>
                                    <p class="categoria">HTML - CSS - Js</p>
                                </div>
                            </div>
                        </div>
                       <div class="trabajo">
                            <div class="thumb">
                                <a href="#" target="__blanck"><img src="../static/assets/trabajos/2.jpg" alt="Clon Google"></a>
                                <div class="descripcion">
                                    <p>Clon Google</p>
                                    <p class="categoria">HTML - CSS - Js</p>
                                </div>
                            </div>
                        </div>
                       <div class="trabajo">
                            <div class="thumb">
                                <a href="#" target="__blanck"><img src="../static/assets/trabajos/2.jpg" alt="Clon Google"></a>
                                <div class="descripcion">
                                    <p>Clon Google</p>
                                    <p class="categoria">HTML - CSS - Js</p>
                                </div>
                            </div>
                        </div>
                       <div class="trabajo">
                            <div class="thumb">
                                <a href="#" target="__blanck"><img src="../static/assets/trabajos/2.jpg" alt="Clon Google"></a>
                                <div class="descripcion">
                                    <p>Clon Google</p>
                                    <p class="categoria">HTML - CSS - Js</p>
                                </div>
                            </div>
                        </div>
                       <div class="trabajo">
                            <div class="thumb">
                                <a href="#" target="__blanck"><img src="../static/assets/trabajos/2.jpg" alt="Clon Google"></a>
                                <div class="descripcion">
                                    <p>Clon Google</p>
                                    <p class="categoria">HTML - CSS - Js</p>
                                </div>
                            </div>
                        </div>
                       <div class="trabajo">
                            <div class="thumb">
                                <a href="#" target="__blanck"><img src="../static/assets/trabajos/2.jpg" alt="Clon Google"></a>
                                <div class="descripcion">
                                    <p>Clon Google</p>
                                    <p class="categoria">HTML - CSS - Js</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </section>
       </section>
       <!-- Footer -->
       <footer>
        <section class="contacto" id="contacto">
           <div class="contenedor">
                <h3 class="titulo">Contacto</h3>
                <form class="formulario" action="#">
                    <input type="text" name="nombre" placeholder="Nombre" required>
                    <input type="email" name="email" placeholder="e-mail" required>
                    <textarea name="mensaje" placeholder="Mensaaje" required></textarea>
                    <input class="boton" type="submit" value="Enviar">
                </form>
            </div>
        </section>
               <section class="redes-sociales">
                   <div class="contenedor">
                       <div class="herramientas" id="herramientas">
                           <div class="herramienta html">
                               <img src="../static/assets/iconos/html-5.png" alt="icono HTML">
                           </div>
                           <div class="herramienta css">
                               <img src="../static/assets/iconos/css-3.png" alt="icono CSS">
                           </div>
                           <div class="herramienta javascript">
                               <img src="../static/assets/iconos/js.png" alt="icono JavaScript">
                           </div>
                           <div class="herramienta python">
                               <img src="../static/assets/iconos/simbolo-de-formato-de-archivo-py.png" alt="icono Python">
                           </div>
                       </div>
                       <div class="redes">
                           <div class="social git">
                               <a href="#"><img src="../static/assets/iconos/github.png" alt="Contacto en GitHub"></a>
                           </div>
                           <div class="social facebook">
                               <a href="#"><img src="../static/assets/iconos/facebook.png" alt="Contacto en facebook"></a>
                           </div>
                           <div class="social twitter">
                              <a href="#"><img src="../static/assets/iconos/gorjeo.png" alt="Contacto en Twitter"></a>
                           </div>
                           <div class="social instagram">
                               <a href="#"><img src="../static/assets/iconos/instagram.png" alt="Contacto en instagram"></a>
                           </div>
                       </div>
                   </div>
                   
               </section>
               
       </footer>
       <p class="fecha">2019 - 2022 | Todos los derechos reservados | Creado por Vinicio Chavarria</p>
    </body>
</html>