<!DOCTYPE html>
<html>
    <head>
		<title></title>
		<meta charset= "UTF-8">
		<meta name="author" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="">
		<meta name="robots"  content="noindex, nofollow">
		<link rel="shortcut icon" href="/ruta.png" type="imagen/x-icon">
		<!-- Añade aquí los link de las fuentes -->

        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/raices.css') }}">
    </head>
    <body>
        

    </body>
</html>